<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
</head>
<body>
<div class="edit-profile-container">
    <div class="header-with-back">
        <a class="back-arrow" href="/profile/{{ user.id }}">
            <svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 19l-7-7 7-7v14z"/>
            </svg>
        </a>
        <h2>Редактировать профиль</h2>
    </div>

    <!-- Nickname and Avatar Edit Form -->
    <form class="edit-user-form" method="post">
        <label class="hint-form" for="nickname">Nickname</label>
        <input class="form-input" id="nickname" name="user-nickname" type="text" value="{{ user.nickname }}">

        <label class="hint-form" for="avatar">Avatar</label>
        <input class="form-input" id="avatar" name="user-avatar" type="text" value="{{ user.avatar }}">

        <button class="btn btn-primary" type="submit">Сохранить</button>
    </form>

    <!-- Steam Edit Form -->
    <form class="edit-user-form" method="post">
        <label class="hint-form" for="steam">Steam</label>
        <input class="form-input" id="steam" name="user-steam" type="text" value="{{ user.steam }}">

        <button class="btn btn-secondary" type="submit">Сохранить</button>
    </form>
</div>
</body>
</html>
